body {
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial;
}

.app {
  background: #f397f6;
  padding: 30px;
  height: 100vh;
  max-width: 450px;
  border-radius: 10px;
}

.todo-list{
  background: #4a3838;
  border-radius: 5px;
  padding: 5px;
  max-width: 400px;
  ali: center;
}

.todo{
  background: #d051ef;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  color: rgb(133, 244, 233);
  margin-bottom: 6px;
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 1px 1px 2px rgb(35, 33, 33);
  

}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}

#head{
  background: rgb(223, 93, 137);
  color: rgb(19, 27, 61);
  font-family: 'fantasy';
  font-size: 30px;
  text-shadow: 1px 1px 2px rgb(97, 219, 232);
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}
